<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882142075714-ma6a2d5lncf5via0ltfe3ck1fnqnn4ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882142075714-ma6a2d5lncf5via0ltfe3ck1fnqnn4ue</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>882142075714-92baom2avf48kiq6rf8bb3u6for2dhod.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmySyI9qsliieF5NstoVmGQzVvCOsRV-8</string>
	<key>GCM_SENDER_ID</key>
	<string>882142075714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lighthouse.lighthouse</string>
	<key>PROJECT_ID</key>
	<string>lighthouse-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>lighthouse-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882142075714:ios:0296f09e0943c9288b86db</string>
</dict>
</plist>